<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rukuntetangga.name %>
</p>

<%= link_to 'Edit', edit_rukuntetangga_path(@rukuntetangga) %> |
<%= link_to 'Back', rukuntetanggas_path %>
